<%#itemsのshow %>

<div class="container" >
    <img src="..." class="img-fluid" alt="Responsive image">
       <h1 class="p-3 mb-2 bg-dark text-white"><%= @item.name %></h1>
          <p class="float-right">在庫：<%= @item.status_i18n %></p>
          <p class="text-center"><%= @item.text %></p>
          <%= link_to "戻る", items_path %>
</div>
        