.main-container {
  background-image: url('/images/sunflower-g04575b2bb_1920.jpg');
  height: 800px;
  background-size:cover;
}

.container {
  margin: 0 auto;
}


h2 {
    color: gray;
    font-weight: lighter;
    font-size: 18px;
    margin: 0;
}